<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipes Finder</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <main class="home">
        <h1 class="title">Welcome to Recipes Finder Back End</h1>
        <p>API Docs: <a href="/docs">Docs</a> </p>
        <p>App Demo: <a href="https://recipes-finder-fe.netlify.app/">https://recipes-finder-fe.netlify.app</a> </p>
    </main>
</body>

</html>